:root {
    font-size: 62.5%;

    --timer-color: #323238;

    --play-color: #37ad2c;
    --stop-color: #c21aa3;
    --increase: #db4c0a;
    --decrease: #3838be;

    --bg-forest: green;
    --bg-rain: blue;
    --bg-coffee: purple;
    --bg-fireplace: red;

    --ico-forest: black;
    --ico-rain: white;
    --ico-coffee: gray;
    --ico-fireplace: yellow;
    --color: #ed11b684;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
}

.hidden {
    display: none;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding-bottom: 6rem;

    display: flex;
    gap: 19.2rem;
    justify-content: center;
    align-items: center;
}

#play svg path {
    fill: var(--play-color);
}

#stop svg path {
    fill: var(--stop-color);
}

#increase svg path {
    fill: var(--increase);
}

#decrease svg path {
    fill: var(--decrease);
}

#forest svg path {
    fill: var(--bg-forest);
}

#forest svg path+path {
    fill: var(--ico-forest);
}

#rain svg path {
    fill: var(--bg-rain);
}

#rain svg path+path {
    fill: var(--ico-rain);
}

#coffee svg path {
    fill: var(--bg-coffee);
}

#coffee svg path+path {
    fill: var(--ico-coffee);
}

#fireplace svg path {
    fill: var(--bg-fireplace);
}

#fireplace svg path+path {
    fill: var(--ico-fireplace);
}

main {
    display: grid;
    gap: 4.8rem;
    text-align: center;
}

main .timer span {
    font-family: 'Roboto';
    color: var(--timer-color);
    font-size: 12.6166rem;
    line-height: 14.8rem;
}

main .controls {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.adjust button {
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: var(--timer-color);
    border-radius: 10px;
}

footer .theme {
    display: grid;
    grid-template-columns: [A] 1fr [B] 1fr;
    grid-template-rows: [C] 1fr [D] 1fr;
    gap: 3.2rem;
}

footer #forest {
    grid-column: A;
    grid-row: C;
}

footer #rain {
    grid-column: B;
    grid-row: C;
}

footer #coffee {
    grid-column: A;
    grid-row: D;
}

footer #fireplace {
    grid-column: B;
    grid-row: D;
}

.audio {
    display: grid;
    position: absolute;
    bottom: 0;
    right: 3.2rem;
}

#soundOn path,
#soundOff path {
    fill: var(--timer-color);
}

button:hover {
    cursor: pointer;
    scale: 1.1;
}

@media screen and (max-width: 850px) {
    body {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        overflow: auto;
    }

    main {
        gap: 2.4rem;
    }

    footer:last-child {
        margin: 150px 0;
    }

    footer .theme {
        gap: 4rem;
    }

    .audio {
        display: inline;
        align-self: flex-end;
    }
}